/* Allgemeine Stile für das Formular */
form {
    width: 100%;
    max-width: 600px; /* Maximalbreite für das Formular */
    margin: 0 auto; /* Zentrieren des Formulars */
    padding: 20px;
    background-color: #F6F5F1; /* Hellgrauer Hintergrund */
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
    font-family: Arial, sans-serif; /* Schriftart */
}

/* Eingabefelder und Textarea */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #6b6b6b; /* Hellgraue Umrandung */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* Schriftgröße */
}

/* Fokus-Effekt für Eingabefelder */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #009c6c; /* Blauer Rand bei Fokus */
    outline: none; /* Entfernt den Fokus-Rahmen */
}

/* Label-Stile */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333; /* Dunklere Schriftfarbe */
}

/* Button-Stil */
input[type="submit"] {
    background-color: #009c6c; /* Blau */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Weicher Übergang bei Hover */
}

/* Hover-Effekt für den Button */
input[type="submit"]:hover {
    background-color: #007c54; /* Dunkleres Blau bei Hover */
}

/* Container für eine bessere Struktur */
.form-container {
    margin: 20px;
}

/* Nachricht nach dem Absenden
p {
    font-size: 18px;
    color: #202020; /* Grüner Text
    text-align: left;
}
*/